body {
  background-color: pink;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center;
  min-height: 450px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 10px;

}

.question {
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
  font-family: "lucida handwriting";
  font-size: 20px;
  padding-top:10px;
  text-align: center;

}

.buttondiv{
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
  font-size:20px;
  font-family: "lucida handwriting";
  padding-top:10px;
}

.yesbutton{
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 12%;
  margin:30px;
}

.nobutton{
  background-color: #f23535; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 12%;
  margin:30px;
}

.startbutton{
  background-color: #a71766;
  border: none;
  color: white;
  font-family:"lucida handwriting" ;
  text-align: center;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 8%;
}

button:hover{
  transform: translateY(-10px);
  box-shadow: 0 10px 100px;
}
